<mat-card>
    <mat-card-header><mat-card-title>Add Employee</mat-card-title></mat-card-header>

    <mat-card-content>
        <form class="theForm" [formGroup]="reactiveform" (ngSubmit)="saveEmployee()">
            <div>
                <mat-form-field class="formField" appearance="fill">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="User Name" formControlName="userName">
                </mat-form-field>
                <mat-form-field class="formField" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
                <mat-form-field class="formField" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="formField" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="formField" appearance="fill">
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="formField" appearance="fill">
                    <mat-label>Basic Salary</mat-label>
                    <input (keypress)="numberOnly($event)"  matInput placeholder="Basic Salary" formControlName="basicSalary">
                </mat-form-field>
                <mat-form-field class="formField" appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select matNativeControl formControlName="status">
                        <mat-option *ngFor="let item of statusList" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="formField" appearance="fill">
                    <mat-label>Group</mat-label>
                    <mat-select matNativeControl formControlName="group">
                        <mat-option *ngFor="let item of groupList" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="formField textArea" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="submit" color="primary">Save</button>
                <a *ngIf="gridIsHidden" mat-raised-button style="margin: 5px" color="accent" (click)="cancelClicked()">Cancel</a>
                <a *ngIf="!gridIsHidden" mat-raised-button style="margin: 5px" color="accent" (click)="redirectClicked()">Cancel</a>
            </div>
        </form>

    </mat-card-content>

</mat-card>