<mat-card>
    <mat-card-header><mat-card-title>Employee Detail</mat-card-title></mat-card-header>
    <mat-card-content *ngIf="data">
        <div>
            <span>User Name: </span>
            <span>{{data.userName}}</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>First Name: </span>
            <span>{{data.firstName}}</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>Last Name: </span>
            <span>{{data.lastName}}</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>Email: </span>
            <span>{{data.email}}</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>Birth Date: </span>
            <span>{{data.birthDate | date}}</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>Basic Salary: </span>
            <span>{{data.basicSalary | currency:'Rp'}}</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>Status: </span>
            <span>{{data.status}}</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>Group: </span>
            <span>{{data.group}}</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>Description: </span>
            <span>{{data.description}}</span>
        </div>
        <mat-divider></mat-divider>

        <div *ngIf="gridIsHidden">
            <a mat-raised-button style="margin: 5px" color="accent" (click)="okClicked()">OK</a>
        </div>
        <div *ngIf="!gridIsHidden">
            <a mat-raised-button style="margin: 5px" color="accent" (click)="redirectClicked()">OK</a>
        </div>


    </mat-card-content>
</mat-card>