<mat-card>
    <mat-card-header><mat-card-title>User Login</mat-card-title></mat-card-header>

    <mat-card-content>
        <form class="example-form" #loginForm="ngForm" (submit)="proceedLogin(loginForm)" >
            <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User Name" required name="userName" ngModel >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" required type="password" name="password" ngModel>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">Login</button>            
        </form>
        <div>
            
            
        </div>

    </mat-card-content>


</mat-card>